body {
    margin: 0;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.container {
    width: 90%;
    max-width: 1300px;
    text-align: center;
}

/* Línea decorativa */
.linea-superior {
    width: 100%;
    max-height: 50px;
    object-fit: contain;
    margin-bottom: 35px;
}

/* Título principal */
.titulo {
    font-weight: 500;
    font-size: 44px;
    line-height: 62px;
    color: #7B1E3D;
    margin-bottom: 35px;
}

/* Texto general */
.descripcion {
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
    margin-bottom: 50px;
}

/* Declaratoria */
.declaratoria {
    font-size: 44px;
    font-weight: 500;
    color: #7B1E3D;
    margin-bottom: 25px;
}

/* Texto final */
.texto-declaratoria {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: justify;
    margin-bottom: 60px;
}

/* Botón */
.btn {
    background: #7B1E3D;
    color: white;
    padding: 18px 55px;
    border: 1px solid #B48954;
    border-radius: 30px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
}

.btn:hover {
    background: #6a1734;
}


/* RESPONSIVO */
@media(max-width: 900px) {
    .titulo,
    .declaratoria {
        font-size: 34px;
        line-height: 48px;
    }

    .btn {
        font-size: 20px;
        padding: 15px 45px;
    }
}
