body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f6f6f6;
}

.container {
    display: flex;
    width: 900px;
    margin: 70px auto;
    border-radius: 18px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/* Panel izquierdo */
.left-panel {
    width: 45%;
    background-color: #7B1E3D;
    background-image: url('/img/patron_edomex.png'); /* opcional */
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-panel h2 {
    font-size: 28px;
    line-height: 1.3;
}

.left-panel span {
    font-size: 16px;
}

/* Panel derecho */
.right-panel {
    width: 55%;
    padding: 50px;
    text-align: center;
}

.logo img {
    width: 180px;
    margin-bottom: 10px;
}

h1 {
    font-size: 26px;
    margin-bottom: 25px;
    color: #333;
}

.login-form {
    text-align: left;
    margin: 0 auto;
    width: 80%;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.input-container .icon {
    position: absolute;
    right: 10px;
    top: 9px;
    font-size: 18px;
    color: #999;
}

.forgot {
    display: block;
    text-align: right;
    font-size: 13px;
    margin-top: 5px;
    color: #7B1E3D;
    text-decoration: none;
}

.divider {
    margin: 25px 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #bfa77f, transparent);
}

.btn {
    width: 100%;
    background-color: #7B1E3D;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #661831;
}

.create-account {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #7B1E3D;
    text-decoration: none;
    font-weight: bold;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}
