body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #7B1E3D;
    color: white;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid #B48954;
}

header img {
    height: 65px;
}

header h1 {
    font-size: 22px;
    text-align: center;
    flex: 1;
    margin: 0;
    font-weight: 600;
}

.container {
    text-align: center;
    margin-top: 80px;
}

h2 {
    color: #7B1E3D;
    font-size: 24px;
    margin-bottom: 40px;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

button {
    background-color: #7B1E3D;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 35px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #B48954;
    color: #fff;
}

footer {
    background-color: #B48954;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
