body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #e6e6e6;
}

/* Barra superior */
.topbar {
    width: 100%;
    height: 60px;
    background: #7B1E3D; /* vino */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.topbar .title {
    font-size: 22px;
    font-weight: bold;
}

.burger {
    font-size: 28px;
    cursor: pointer;
}

.perfil-rol {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

/* Menú lateral */
.sidebar {
    width: 180px;
    height: calc(100vh - 60px);
    background: #e5e5e5;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.side-item {
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    text-decoration: none;
}

.side-item img {
    width: 28px;
}

.side-item:hover {
    background: #d6d6d6;
}

/* Botón cerrar sesión */
.logout-btn {
    width: 150px;
    padding: 10px;
    margin: 30px auto;
    border: none;
    background: #7B1E3D;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #622031;
}

/* Contenido */
.content {
    margin-left: 180px;
    margin-top: 60px;
    padding: 20px;
    background: white;
    height: calc(100vh - 60px);
}
