body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7B1E3D;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-bottom: 6px solid #B48954;
}

header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.form-section {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-section p {
    text-align: center;
    color: #555;
    font-size: 15px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

label {
    color: #7B1E3D;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.btn-container {
    text-align: center;
    margin-top: 30px;
}

button {
    background-color: #7B1E3D;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #B48954;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer img {
    width: 100%;
    height: auto;
}
