<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Aspirante</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<header class="header">
    <div class="logo">EMPLEO</div>
    <div class="user-info">
        <img src="/img/user-icon.png" alt="Usuario" class="user-icon">
        <span th:text="${usuario.nombre}">Aspirante</span>
    </div>
</header>

<main class="circle-menu">
    <div class="circle">
        <a href="/datos" class="item">
            <img src="/img/icon-datos.png" alt="Datos" class="icon">
            <span>Datos Personales</span>
        </a>
        <a href="/escolaridad" class="item">
            <img src="/img/icon-escolaridad.png" alt="Escolaridad" class="icon">
            <span>Escolaridad</span>
        </a>
        <a href="/experiencia" class="item">
            <img src="/img/icon-experiencia.png" alt="Experiencia" class="icon">
            <span>Experiencia</span>
        </a>
        <a href="/capacitacion" class="item">
            <img src="/img/icon-capacitacion.png" alt="Capacitación" class="icon">
            <span>Capacitación</span>
        </a>
        <a href="/competencias" class="item">
            <img src="/img/icon-competencias.png" alt="Competencias" class="icon">
            <span>Competencias</span>
        </a>
        <a href="/password" class="item">
            <img src="/img/icon-password.png" alt="Contraseña" class="icon">
            <span>Contraseña</span>
        </a>
        <a href="/eliminar" class="item">
            <img src="/img/icon-eliminar.png" alt="Eliminar" class="icon">
            <span>Eliminar</span>
        </a>
    </div>
</main>


</body>
</html>
