<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div class="page-wrapper">

    <div class="login-card">

        <!-- PANEL IZQUIERDO -->
        <div class="login-left">
            <h1>EMPLEO</h1>
            <h2>GOB. EDOMEX<br>PODER EJECUTIVO</h2>
        </div>

        <!-- PANEL DERECHO -->
        <div class="login-right">

            <img class="logo" src="/img/logo-edomex.png">

            <h2>Iniciar Sesión</h2>

            <!-- FORMULARIO -->
            <form th:action="@{/login}" method="post" class="form-wrapper">
                <input type="hidden" name="perfil" th:value="${perfilSeleccionado}">


                <!-- Usuario -->
                <div class="input-group">
                    <img src="/img/icon-user.svg" class="input-icon">
                    <input type="text" name="curp" placeholder="Usuario" required>
                </div>

                <!-- Contraseña -->
                <div class="input-group">
                    <img src="/img/icon-lock.svg" class="input-icon">
                    <input type="password" id="passwordInput" name="contrasena" placeholder="Contraseña" required>

                    <img src="/img/icon-eye.svg" class="toggle-password" onclick="togglePassword()">
                </div>

                <div class="forgot-password">
                    <a th:href="@{/forgot-password}">¿Olvidaste tu contraseña?</a>
                </div>

                <img src="/img/franja-dorada.png" class="login-divider">

                <button type="submit" class="btn-login">Ingresar al Sistema</button>

            </form>

            <div class="create-account">
                <a th:href="@{/registro}">Crear Cuenta</a>
            </div>

        </div>

    </div>

</div>

<script>
    function togglePassword() {
        const input = document.getElementById("passwordInput");
        input.type = input.type === "password" ? "text" : "password";
    }
</script>

</body>
</html>
